.page-title{
    font-size: 30px;
    color: $blue;
    margin-bottom: 20px;
}
.total{
    font-size: 24px;
    
}
.cart-item-container{
    @include flex-ac;
    justify-content: space-between;
    border: 2px solid $grey;
}
.remove{
    width: 200px;
    margin: 10px 0px 20px 0px;
}
.remove-item{
    width: 100%;
    height: 80px;
    @include flex;
}