header{
    width:100%;
    min-height: 100px;
    background-color: rgb(230, 176, 28);
}
.col-height50{
    height: 50%;
    display: flex;
}
.col-width20{
    width: 20%;
}
.col-width60{
    width: 60%;
}