@media screen and (max-width: 1170px) and (min-width: 600px) {
    .inline-wrapper{
        width:100%;
    }
    .col-width60{
        width: 70%;
    }
    .col-width20{
    width: 100%;
    }
    .contacts{
        display: flex;
        align-items: center;
        width: 30%;
    }
    .cart-container{
        width: 30%;
    }
    .drop-menu {
        top: 142px;
    }
    .menu-buttons a{
        width: 100%;
        height: 50px;
        margin-left: 0px;
    }
    .side-bar {
        width: 0%;
    }
    .inline-main {
        width: 100%;
        min-height: 500px;
    }
}