@import "./style/reset.css";

$jcc:center;
$acc:center;
$grey:#f2f2f2;
$blue:#34b1da;
$black:#464646;
$hover-button:#40bee8;
@mixin flex-jc{
    display: flex;
    justify-content: center;
}
@mixin flex-ac{
    display: flex;
    align-items: center;
}
@mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin icon{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 16px;
    height: 16px;
}
@mixin icon-big{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 24px;
    height: 24px;
}
a {
    outline: none;
    text-decoration: none;
    border: none;
}
a:active, a:hover {text-decoration: none; outline: none !important; }
a:link { text-decoration: none; outline: none !important;}
    * {
        box-sizing: border-box !important;
    }
    body {
        background-color: #ffffff;
        font-family: 'Open Sans';
        overflow-x: hidden;
    }
    .flex{
        @include flex;
    }
    .flex-ac{
        @include flex-ac;
    }
    .flex-jc{
        @include flex-jc;
    }
    .wrapper {
        width: 100%;
        min-height: 500px;
        margin:0 auto;
        @include flex-jc;
    }
    .inline-wrapper{
        width:1170px;
    }
    .row:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
    @import "./style/header.scss";
    @import "./style/main.scss";
    footer{
        width:100%;
        min-height: 100px;
        background-color: rgb(64, 62, 172);
    }


    @import "./style/desktop.scss";
    @import "./style/IPud.scss";
    @import "./style/mobile.scss";